@import url('htpps://fonts.google.apis.com/css?family=Rubik:300,400,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-self: center;   
     min-height: 100vh;
     background: #222;
}

.container{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(300px, auto);
}